<header>
    <div class="header-slides" aria-hidden="true">
        <div class="header-slide" style="background-image:url('{{ '/img/header/header1.jpg' | relative_url }}')"></div>
        <div class="header-slide" style="background-image:url('{{ '/img/header/header2.jpg' | relative_url }}')"></div>
        <div class="header-slide" style="background-image:url('{{ '/img/header/header3.jpg' | relative_url }}')"></div>
        <div class="header-slide" style="background-image:url('{{ '/img/header/header4.jpg' | relative_url }}')"></div>
        <div class="header-slide" style="background-image:url('{{ '/img/header/header5.jpg' | relative_url }}')"></div>
        <div class="header-slide" style="background-image:url('{{ '/img/header/header6.jpg' | relative_url }}')"></div>
    </div>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                <img src="{{ '/img/logo-light-large.png' | relative_url }}" alt="Cielimowo Technology" style="width: 100%; max-width: 900px; height: auto;">
            </h1>
            <hr>
            <p>Delivering World Peace</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>